/* FONDO GENERAL */
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f0ff;
    color: #5b2c83;
}

/* ENCABEZADO */
.encabezado{
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #d9b3ff, #f3e6ff);
}

/* IMAGEN */
.encabezado img{
    width: 90%;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

/* TITULO */
.encabezado h1{
    font-size: 45px;
    margin-top: 20px;
    color: #6a0dad;
}

/* TEXTO */
.encabezado p{
    font-size: 20px;
    width: 80%;
    margin: auto;
}

/* CONTENIDO */
.contenido{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

/* TARJETAS */
.tarjeta{
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

/* EFECTO */
.tarjeta:hover{
    transform: scale(1.05);
}

/* TITULOS */
.tarjeta h2{
    color: #8a2be2;
} 